<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet"> 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Learn Elegant Korean</title>
</head>
<body>
  {{!-- NAV BAR --}}
  <nav class="white">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img src="/images/logo.png" class="logo-img responsive-img"></a>
        <a class="sidenav-trigger" data-target="mobile-demo" href="#">
          <i class="material-icons teal-text">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="#" class="teal-text">Home</a>
          </li>
          <li>
            <a href="#" class="teal-text">About</a>
          </li>
          <li>
            <a href="#" class="teal-text">Contact</a>
          </li>
          <li>
            <a href="/auth/logout" class="btn waves-effect waves-light">Logout</a>
          </li>
        </ul>
        </div>
      </div>
    </nav>
        <ul class="sidenav" id="mobile-demo">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
          <li>
            <a href="/auth/logout">Logout</a>
          </li>
        </ul>


  {{!-- VIEWS CONTENT --}}
  <div class="container">
    {{{body}}}
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 {{!-- ckeditor allows us to create a fancy text box where users can add style to text --}}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.20.0/ckeditor.js" integrity="sha512-BcYkQlDTKkWL0Unn6RhsIyd2TMm3CcaPf0Aw1vsV28Dj4tpodobCPiriytfnnndBmiqnbpi2EelwYHHATr04Kg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script src="https://kit.fontawesome.com/69bcb5cb95.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

{{!-- Initialize Side Nav Bar --}}
  <script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
  </script>
</body>
</html>