<h1>Hello, this is your dashboard</h1>
{{#if articles}}
<p>Here are the articles you can learn from</p>
<div class="carousel">
  {{#each articles}}
  <div class="card carousel-item">
    <div class="card-content">
      <span class="card-title"><a href="/articles/{{_id}}">{{title}}</a></span>
      Card Content Goes Here
    </div>
  </div>
  {{/each}}
  {{else}}
  <p>There are no articles available at this time.</p>
{{/if}}
</div>