{{!-- Hero --}}
<div class="">
  <h1 class="display-4 fancy-font">Learn Elegant Korean</h1>
  <p class="lead">Advance your Korean language learning by reading and listening to stories and articles made by and for Native Korean speakers.</p>
  <hr>
  <p>Save new TOPIK vocabulary to your vocab list.</p>
  <p>Solidify your learning with grammar and vocabulary exercises.</p>
  <div class="section">
  <p class="lead">Login to start your Korean learning journey!</p>
  <div class="divider"></div>
  <div class="section">
    <a href="/auth/google" class="btn teal">
      <i class="fab fa-google left"></i>Log In With Google
    </a>
  </div>
</div>
</div>
{{!-- Story Feature --}}
{{!-- Vocab Feature --}}