{{!-- Jumbotron --}}
<div class="container pb-5">
  <div class="jumbotron text-center">
     <h1 class="display-1 fancy-font">Learn Elegant Korean</h1>
     <p class="lead">Advance your Korean language learning by reading and listening to stories and articles made by and for Native Korean speakers.</p>
     <p>Login to start your Korean learning journey!</p>
     <a href="/auth/google" class="btn btn-secondary" role="button">
     <i class="fab fa-google left"></i> Log In With Google
    </a>
  </div>
</div>

{{!-- Story Feature --}}
<section class="bg-primary text-light py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h3 class="display-4">Learn from Korean news stories, vlogs, and more!</h3>
        <hr>
        <p class="lead fancy-font">Learn natural Korean by consuming content created for Native speakers.</p>
        <p class="lead fancy-font">Learning marterials are sorted by difficulty level for easy navigation.</p>
      </div>
      <div class="col-md-6">
        <img src="/images/online_learning.png" alt="person making a list" class="img-fluid mb-3 rounded-circle">
      </div>
    </div>
  </div>
</section>

{{!-- Vocab Feature --}}
<section class="bg-light py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="/images/noteList.png" alt="person making a list" class="img-fluid mb-3 rounded-circle">
      </div>
      <div class="col-md-6">
        <h3 class="display-4">Study vocabulary and grammar points</h3>
        <hr>
        <p class="lead fancy-font">Save new TOPIK vocabulary to your vocab list.</p>
        <p class="lead fancy-font">Solidify your learning with grammar and vocabulary exercises.</p>
      </div>
    </div>
  </div>
</section>

  